.todoCard {
  padding: 1rem;
  background: var(--gray-500);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;

  width: 100%;

  border-radius: 8px;
  height: auto;
}

.todoCard + .todoCard {
  margin-top: 0.75rem;
}

.todoCard div:first-child {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.todoCard p {
  color: var(--gray-100);
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.4;
}

.todoCard p.checked {
  text-decoration: line-through;
  color: var(--gray-300);
}

.todoCard button {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
}

.circleIcon {
  color: var(--blue);
}

.checkedIcon {
  position: relative;
  color: var(--purple-dark);
  align-self: flex-start;
}

.checkedIcon:hover {
  color: var(--purple);
}

.trashIcon {
  color: var(--gray-300);
  position: relative;
}

.trashIcon:hover {
  color: var(--danger);
}
